<%function summary(content) {
  //return content.substr(0, Math.min(content.indexOf("</p>"), content.indexOf("<br>"))+4) + " ...";

    var br = {};
    br.spTags = ["img","br","hr"];/*不需要成对出现的标记*/
    br.contain = function(arr,it){
        for(var i=0,len=arr.length;i<len;i++){
            if(arr[i]==it){
                return true;
            }
        }
        return false;
    }
    br.subArtc = function(article,worldNum){
        var result = [];
        /*首先截取需要的字串*/
        var wcount = 0;
        var startTags = [],endTags = [];
        var isInTag = false;
        for(var i=0,len=article.length;i<len;i++){
            var w = article[i];
            result.push(w);
            if(w=="<"){
                isInTag = true;
            }
            if(!isInTag){
                wcount++;
                if(wcount==worldNum){
                    break;
                }
            }
            if(w==">"){
                isInTag = false;
            }
        }
        /*对字串进行处理*/
        var j=0;
        isInTag = false;
        var isStartTag = true;
        var tagTemp = "";
        while(j<i){
            w = result[j];
            if(isInTag){
                if(w==">" || w==" " || w=="/"){
                    isInTag = false;
                    if(isStartTag){
                        startTags.push(tagTemp);
                    }else{
                        endTags.push(tagTemp);
                    }
                    tagTemp = "";
                }
                if(isInTag){
                    tagTemp+=w;
                }
            }
            if(w=="<"){
                isInTag = true;
                if(result[j+1]=="/"){
                    isStartTag = false;
                    j++;
                }else{
                    isStartTag = true;
                }
            }
            j++;
        }
        /*剔除img,br等不需要成对出现的标记*/
        var newStartTags = [];
        for(var x=0,len=startTags.length;x<len;x++){
            if(!br.contain(br.spTags,startTags[x])){
                newStartTags.push(startTags[x]);
            }
        }

        result.push("...");
        /*添加没有的结束标记*/
        var unEndTagsCount = newStartTags.length - endTags.length;
        while(unEndTagsCount>0){
            result.push("<");
            result.push("/")
            result.push(newStartTags[unEndTagsCount-1]);
            result.push(">");
            unEndTagsCount--;
        }
        return result.join("");
    };

  return br.subArtc(content, 1000) ;
}%>
<article id="<%= post.layout %>-<%= post.slug %>" class="article article-type-<%= post.layout %>" itemscope itemprop="blogPost">
  <%if(post.noDate != "true"){%>
    <div class="article-meta">
      <%- partial('post/date', {class_name: 'article-date', date_format: null}) %>
      <%- partial('post/category') %>
      <%- partial('post/tag') %>
    </div>
  <%}%>
  <div class="article-inner">
    <% if (theme.fancybox){ %>
      <input type="hidden" class="isFancy" />
    <% } %>
    <% if (post.link || post.title){ %>
      <header class="article-header">
        <%- partial('post/title', {class_name: 'article-title'}) %>
      </header>
    <% } %>
    <div class="article-entry" itemprop="articleBody">
      <% if (post.excerpt && index){ %>
        <%- post.excerpt %>
        <% if (theme.excerpt_link){ %>
          <p class="article-more-link">
            <a href="<%- url_for(post.path) %>#more"><%= theme.excerpt_link %> >></a>
          </p>
        <% } %>
      <% } else { %>
        <% if (!index){ %>
          <%- post.content %>
        <% }else{ %>
          <%- summary(post.content) %>
          <p class="article-more-link">
            <a href="<%- url_for(post.path) %>#more"><%= theme.excerpt_link %> >></a>
          </p>
        <% } %>
      <% } %>
    </div>
  </div>
  <% if (!index){ %>
    <%- partial('post/nav') %>
  <% } %>
</article>

<% if (!index && theme.share){ %>
<%- partial('post/share') %>
<% } %>

<% if (!index && theme.duoshuo && post.comments){ %>
<%- partial('post/duoshuo', {
    key: post.slug,
    title: post.title,
    url: config.url+url_for(post.path)
  }) %>
<% } %>

<% if (!index && post.comments && config.disqus_shortname){ %>
<section id="comments">
  <div id="disqus_thread"></div>
    <script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = '<%=config.disqus_shortname%>'; // required: replace example with your forum shortname

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
      var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
      dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
</section>
<% } %>
